<script type="text/ng-template" id="sign-in-modal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">用户登陆</h4>
    </div>
    <div class="modal-body">
        <form role="form" name="userForm">
            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && userForm.email.$dirty}">
                <label>用户名</label>
                <input name="email" type="email" class="form-control" placeholder="输入电子邮箱" ng-model="email" ng-model-options="{updateOn: 'blur'}" required>
                <span class="help-block" ng-show="userForm.email.$invalid && userForm.email.$dirty">请输入一个有效的Email.</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && userForm.password.$dirty}">
                <label>密码</label>
                <input name="password" type="password" class="form-control" placeholder="密码" ng-model="password" required>
                <span class="help-block" ng-show="userForm.password.$invalid && userForm.password.$dirty">{{ userForm.password.error ? userForm.password.error : "请输入密码."}}</span>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="remember_me"> 记住我
                </label>
            </div>
            <div class="form-group">
                <p>测试账号</p>
                <a ng-click="inputUser('admin')">管理员</a>
                <a ng-click="inputUser('demo1')">用户1</a>
                <a ng-click="inputUser('demo2')">用户1</a>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">关闭</button>
        <button type="button" class="btn btn-primary" ng-click="submit(userForm.$valid)" ng-disabled="userForm.$invalid">确认</button>
    </div>
</script>