<div class="col-md-12 form-group">
    <div class="col-xs-3">
        <input type="search" class="form-control" placeholder="搜索" ng-model="query">
    </div>
    <label class="col-xs-1 col-xs-offset-6 control-label" style="text-align: right;padding-top: 5px;">排序</label>
    <div class="col-xs-2">
        <select class="form-control" ng-model="order">
            <option value="resource.name">姓名</option>
            <option value="-resource.lastActivity">在线状态</option>
            <option value="id">级别</option>
        </select>
    </div>
</div>
<div class="col-md-12" id="contact">
    <div ng-repeat="user in users | filter:query | orderBy:order" class="user-card">
        <div class="directory-header row">
            <div class="col-md-4">
                <img ng-src="{{user.getAvatar(96)}}">
                <div class="action">
                    <a href="#" ng-click="chat(user)"><i class="fa fa-comments"></i></a>
                    <a ng-href="/profile/{{user.id}}"><i class="fa fa-cog"></i></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="name item" title="Name">{{user.resource.name}}</div>
                <div class="name item" title="Name">{{user.resource.nickName}}</div>
                <div>
                    <i class="{{user.getLoginStatus()}}"></i>
                </div>
                <div class="item" title="Email"><a href="mailto:{{user.resource.email}}" title="向发发邮件">{{user.resource.email}}</a></div>
                <div class="item" title="Work Phone">{{user.resource.phone}}</div>
            </div>
        </div>
        <div class="directory-content">
            {{user.resource.description}}
        </div>
    </div>
</div>