/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector

// Build 的时候会把重复的去掉。会引起一个bug.
.caret{
  border-top: 4px dashed;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.cursor-pointer
{
  cursor: pointer;
}
//body,html{
//  height: 100%;
//  overflow: hidden;
//  padding: 0;
//  margin: 0;
//}
#messages-input-container{
  //  position: relative;
  //  margin-top: 10px;
  position: absolute;
  margin-top: 10px;
  bottom: 5px;
  right: 5px;
  left: 5px;
}
#primary_file_button {
  position: absolute;
  top: 0px;
  left: -3px;
  z-index: 1;
  background: padding-box #fff;
  color: rgba(0,0,0,.35);
  border: 2px solid #E0E0E0;
  height: 42px;
  width: 44px;
  line-height: 42px;
  min-height: 42px!important;
  max-height: 160px!important;
  padding: 0;
  text-align: center;
//  -webkit-transition: border-color 50ms,background 50ms,color 50ms;
//  -moz-transition: border-color 50ms,background 50ms,color 50ms;
//  transition: border-color 50ms,background 50ms,color 50ms;
  text-shadow: none;
  border-radius: 6px 0 0 6px;
}
#message-form {
  position: relative;
  margin: 0;
}
#message-input {
  background: padding-box #fff;
  width: 100%;
  font-size: 15px;
  line-height: 1.5rem;
  border: 2px solid #E0E0E0;
  border-left: none;
  font-family: Lato,appleLogo,sans-serif;
  margin: 0;
  color: #3d3c40;
  appearance: none;
  //-webkit-appearance: none;
  box-shadow: none;
  outline: 0;
  position: absolute;
  bottom: 0;
  height: 100%;
  min-height: 42px!important;
  padding: 9px 40px 9px 45px;
  max-height: 160px!important;
  resize: none!important;
  //-webkit-transition: none;
  //-moz-transition: none;
  transition: none;
  border-radius: 0 6px 6px 0;
}

.online,.offline,.busy{
  width: 10px;
  height: 10px;
  //-moz-border-radius: 50px;
  //-webkit-border-radius: 50px;
  border-radius: 50px;
  display: inline-block;
}
.online{
  background: green;
}
.offline{
  background: #cccccc;
}
.busy{
  background: yellow;
}

.panel-heading{
  height: 54px;
  .title{
    font-size: 16px;
    line-height: 30px;
  }
}

.war-navbar-fix-left{
  top: 60px;
  position: fixed;
  overflow: auto;
  bottom: 0;
  width: 220px;
}
.war-navbar-fix-right{
  top: 60px;
  position: fixed;
  overflow: auto;
  bottom: 0;
  right: 0;
  width: 220px;
}
#chat-list {
  position: relative;
  a{
    padding: 14px 0 14px 2px;
    overflow: hidden;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
  }
  .chat-action{
    position: absolute;
    top: 25px;
    right: 2px;
    .fa-remove{
      color: #C1E2B3;
      font-size: 16px;
      display: none;
    }
  }
  li:hover{
    .fa-remove{
      display: inline;
    }
  }
  .fa-users {font-size: 10px;}
  .img-circle{
    width: 36px;
  }
  .list-content{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-left: -53px;
    padding-left: 50px;
    div{
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
#page-wrapper{
  top: 60px;
  bottom: 0;
  position: absolute !important;
  overflow: hidden;
  min-height: initial;
  right: 0;
  left: 0;
  margin: 0;
  &.wrapper-left{
    margin-left: 220px;
  }
  &.wrapper-right{
    margin-right: 220px;
  }
  &.wrapper-scroll{
    overflow:auto;
    bottom:auto;
//    min-height:100%;
  }
}
.chat-container{
  height: 1000px;
  .chat-element{
    strong{
      padding-top: 10px;
    }
  }
  .media-body{
    width: 100%;
  }
}
.chat-activity-list{
  overflow: auto;
  position: absolute;
  top: 80px;
  bottom: 60px;
  right: 5px;
  left: 5px;
}
.chat-right-wrapper{
  .nav{
    background: #FFF;
    li.active{
      background: #FFF;
      border-left: none;
      a{
        color: #000000;
        font-weight: bold;
        border-bottom: 1px solid #fff;
        margin: 0;
      }
    }
  }
  .ibox-content{
    bottom: 0;
    top: 0;
    position: absolute;
    overflow: hidden;
    padding: 0;
    width: 100%;
  }
  .panel-body{
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    position: absolute;
    overflow: auto;
    padding: 0;
    ul,li{
      list-style: none;
    }
    ul{
      padding: 0;
    }
    li{
      padding: 10px 5px;
      border-bottom: 1px solid #e7eaec;
    }
    .chat-avatar{
      margin-right:0px;
    }
    .chat-user-name {
      padding: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .ibox {
    margin-bottom: 0px;
  }
  .info{
    i,a{
      color: #b4b6b8;
      font-size: 12px;
    }
  }
}
.cropArea {
  overflow: hidden;
  width: 100%;
  height: 400px;
  background: #E4E4E4;
}

//contact
.contact-box.center-version{
  height: 350px;
}