<ion-view view-title="控制台">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">我未完成的任务</div>
      <div class="item item-body">
          <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="task in tasks" type="item-text-wrap" href="#/task/{{task.id}}">
              <h2>{{task.getStatus()}} {{task.getTitle()}}</h2>
              <p>{{task.getCreateTime()}}</p>
              <i class="icon ion-chevron-right icon-accessory"></i>

              <ion-option-button class="button-assertive" ng-click="remove(task)">
                Delete
              </ion-option-button>
            </ion-item>
          </ion-list>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">我的项目</div>
      <div class="item item-body">
        <div>
          <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="project in projects" type="item-text-wrap" href="#/paoject/{{project.id}}">
              <h2>{{project.getStatus()}} {{project.getName()}}</h2>
              <p>{{project.getCreateTime()}}</p>
              <i class="icon ion-chevron-right icon-accessory"></i>

              <ion-option-button class="button-assertive" ng-click="remove(project)">
                Delete
              </ion-option-button>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">待办事项</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
