<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.getName()}}">
  <ion-content class="padding">
    <ion-refresher on-refresh="showMore()"
                   pulling-text="加载之前的消息"
                   refreshing-text="加载中..."
                   refreshing-icon="ion-loading-b">
    </ion-refresher>
    <div class="chat-element" ng-repeat="message in messages" ng-class="{'self':isSelf(message)}">
      <div class="avatar">
        <a href="" class="pull-left">
          <img alt="image" class="img-circle" ng-src="{{message.getSender().getAvatar(36)}}">
        </a>
      </div>
      <div class="chat-main-content">
        <div class="media-header">
          <strong class="name">{{message.getSender().getName()}}</strong>
          <small class="time">{{message.createTime}}</small>
          <div style="clear:both"></div>
        </div>
        <div class="media-body">
          <p class="m-b-xs" ng-if="message.isImg()">
            <img style="max-width: 100%;" ng-src="{{message.content}}" />
          </p>
          <p class="m-b-xs" ng-if="message.isAttach() && !message.isImg()">
            <a ng-href="{{message.content}}">{{message.content}}</a>
          </p>
          <pre class="m-b-xs" ng-if="message.isCode()"><code class="{{message.getCodeType()}}" hight-light="" >{{message.content}}</code></pre>
          <p class="m-b-xs" ng-if="!message.isAttach() && !message.isImg() && !message.isCode()" ng-bind-html="message.content | nl2br"></p>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div id="message-div" class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="内容" ng-model="message">
      </label>
      <button class="button button-small" ng-click="sendMessage()">发送</button>
    </div>
  </ion-footer-bar>
</ion-view>