<ion-view view-title="通讯录">
  <ion-content class="has-footer">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="user in users" type="item-text-wrap" href="#/contact/{{user.id}}">
        <img ng-src="{{user.getAvatar()}}">
        <h2>{{user.getName()}}</h2>
        <p>{{user.getTitle()}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="chat(user)" ng-if="user.id != currentUser.id">
        聊天
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
