<div>
    <dl class="dl-horizontal">
        <dt>标题:</dt>
        <dd><span class="label" ng-class="{
        'label-warning':task.resource.status == 1,
        'label-info':task.resource.status == 2,
        'label-primary':task.resource.status == 3,
        'label-success':task.resource.status == 5,
        }">{{task.getStatus()}}</span> {{task.getTitle()}}</dd>
    </dl>
</div>
<div class="row">

    <div class="col-lg-5">
        <dl class="dl-horizontal">
            <dt>创建者:</dt> <dd>{{task.getOwner().getName()}}</dd>
            <dt>指派给:</dt> <dd>{{task.getCreator().getName()}}</dd>
            <dt>项目:</dt> <dd><a ng-href="/project/{{task.resource.pid}}" class="text-navy">{{task.getProject().name}}</a></dd>
            <dt>里程碑:</dt> <dd><a ng-href="/project/{{task.resource.pid}}/{{task.resource.sid}}">{{task.getSprint().name}}</a></dd>
        </dl>
    </div>
    <div class="col-lg-7" id="cluster_info">
        <dl class="dl-horizontal">
            <dt>创建时间:</dt> <dd>{{task.getCreateTime() | date : 'yyyy-MM-dd HH:mm:ss'}}</dd>
            <dt>最后更新时间:</dt> <dd>{{task.getLastModify() | date: 'yyyy-MM-dd HH:mm:ss'}}</dd>
            <dt>跟踪者:</dt>
            <dd class="project-people">
                <a ng-href="/contact/{{user.id}}" ng-repeat="user in project.getFollowers()"><img alt="image" class="img-circle" ng-src="{{user.getAvatar()}}"></a>
            </dd>
        </dl>
    </div>
</div>
<hr>
<div>
    {{task.resource.content}}
</div>

<hr>
<div class="row">
    <div class="col-lg-12">
        <h2>回复:</h2>
        <div ng-if="comments.length == 0">没有回复</div>
        <div class="social-feed-box" ng-repeat="comment in comments">
            <div class="social-avatar">
                <a href="" class="pull-left">
                    <img alt="image" ng-src="{{comment.getOwner().getAvatar()}}">
                </a>
                <div class="media-body">
                    <a ng-href="/contact/{{comment.getOwner().id}}">
                        {{comment.getOwner().getName()}}
                    </a>
                    <small class="text-muted">{{comment.getCreateTime()| date: 'yyyy-MM-dd HH:mm:ss'}}</small>
                </div>
            </div>
            <div class="social-body">
                <p>
                    {{comment.resource.content}}
                </p>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row m-t">
    <div class="col-sm-6">
        <label class="col-sm-2 control-label p-xs">状态</label>
        <div class="col-sm-10">
            <select class="form-control" name="ownerId" ng-model="status" ng-options="s.name for s in taskStatus"></select>
        </div>
    </div>
    <div class="col-sm-6">
        <label class="col-sm-2 control-label p-xs">指派给</label>
        <div class="col-sm-10">
            <select class="form-control" name="ownerId" ng-model="owner" ng-options="s.getName() for s in users"></select>
        </div>
    </div>
</div>
<div class="row m-t">
    <div class="col-sm-12">
        <summernote height="300" ng-model="comment.content"></summernote>
    </div>
</div>
<div>
    <button id="edit-btn" class="btn btn-primary" type="submit" ng-click="createComment()">更新</button>
</div>