<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">My Team</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="/">Home</a></li>
        <li><a ng-href="/chat">Chat</a></li>
        <li><a ng-href="">Contact</a></li>
      </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>Current date: {{ date | date:'yyyy-MM-dd' }}</li>
        <li><a ng-href="#" ng-hide="isAuthorized" ng-click="showSignModal()">登陆</a></li>
        <!--<li><a ng-href="#" ng-hide="isAuthorized" ng-click="showSignUpModal()">申请</a></li>-->
        <li><a ng-href="#" ng-show="isAuthorized" ng-click="signOut()"><span ng-bind="currentUser.email"></span> 退出</a></li>
    </ul>
    </div>
  </div>
</nav>
