<div class="row border-bottom" ng-controller="NavbarCtrl">
    <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0;">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
            <a class="navbar-brand" href="/">{{webName}}</a>
        </div>
        <ul class="nav navbar-top-links navbar-left">
            <li><a ng-href="/chat/" ng-show="getIsAuthorized()">聊天</a></li>
            <li><a ng-href="/contact" ng-show="getIsAuthorized()">通讯录</a></li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
            <li><a href="" ng-show="showOpenNotification()" ng-click="openNotification()">打开通知</a></li>
            <li><a ng-href="#" ng-show="!getIsAuthorized() && domainExist" ng-click="showSignModal()">登陆</a></li>
            <li><a ng-href="#" ng-show="!getIsAuthorized() && domainExist" ng-click="showSignUpModal()">申请</a></li>
            <li><a ng-href="/admin" ng-show="getIsAuthorized() && currentUser.resource.isAdmin">管理</a></li>
            <li class="dropdown" dropdown ng-show="getIsAuthorized()">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle><div class="{{currentUser.getLoginStatus()}}"></div></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="online"></i> 在线</a></li>
                    <li><a href="#"><i class="busy"></i> 离开</a></li>
                </ul>
            </li>
            <li class="dropdown" dropdown ng-show="getIsAuthorized()">
                <a style="padding-top: 10px;padding-bottom: 10px;" href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle><img alt="image" class="img-circle" src="{{currentUser.getAvatar(32)}}"/> <span ng-bind="currentUser.getName()"></span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/profile/profile">修改资料</a></li>
                    <li><a href="/profile/password">修改密码</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" ng-click="signOut()"> 退出</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>