<div id="user-list" class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="chat in chats">
            <a ng-click="chatWith($index)" ng-href="/chat/{{chat.id}}"><div class="{{chat.getLoginStatus()}}"></div> {{chat.getName()}}</a>
        </li>
    </ul>
</div>
<div id="chat-content" class="col-md-9">
    <div class="chat-header">Chat with {{chat.getName()}}</div>
    <div class="chat-container" scroll-glue>
        <div class="message" ng-repeat="message in messages">
            <div class="avatar"><img ng-src="{{message.getSender().getAvatar(36)}}" /></div>
            <a class="sender" href="/user/{{message.getSender().id}}">{{message.getSender().getName()}}</a>
            <i>{{message.createTime}}</i>
            <div class="message_content">{{message.content}}</div>
        </div>
    </div>
    <div id="messages-input-container" class="chat-footer">
        <a id="primary_file_button" class="file_upload_btn fa fa-upload cursor-pointer" style="height: 42px;">
            <i class="ts_icon ts_icon_plus_thick"></i>
        </a>
        <form id="message-form" style="height: 42px;">
            <a class="emo_menu cursor-pointer" aria-label="Emoji menu">
                <i class="fa fa-smile-o"></i>
            </a>
            <textarea id="message-input" class="with-emoji-menu" ng-model="message" ng-keypress="enterSubmit($event)"></textarea>
            <button type="button" class="btn btn-primary btn-sender" ng-click="sendMessage()">发送</button>
            <div id="message-input-message" class=""><span></span></div>
            <input type="file" id="file-upload" class="offscreen" multiple="multiple" aria-hidden="true">
        </form>
    </div>
</div>