<nav class="navbar-default war-navbar-fix-left">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="chat-list">
            <li ng-repeat="chat in chats | orderBy:orderBy" ng-class="{'active' : chat.isActive()}">
                <a ng-click="chatWith($index)" ng-href="/chat/{{chat.id}}">
                    <div class="{{chat.getLoginStatus()}}"></div> <img alt="image" class="img-circle" ng-src="{{chat.getAvatar(36)}}"> {{chat.getName()}}
                </a>
                <div class="chat-action">
                    <i class="cursor-pointer fa fa-remove" ng-click="removeChat($index, $event)"></i>
                    <span class="badge label label-warning" ng-show="{{chat.getUnReadCount()>0}}">{{chat.getUnReadCount()}}</span>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div id="page-wrapper" class="gray-bg wrapper-left" ng-class='{"wrapper-right": showRight}'>
    <div ng-show="{{showRight}}">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>{{chat.getName()}} <button class="btn btn-default pull-right" ng-click="addMembers(chat)"><i class="fa fa-plus"></i> 添加其他人</button></h2>
            </div>
        </div>
        <div class="chat-container row ibox-content">
                <div class="chat-activity-list" scroll-glue scrolly="showMore()">
                    <div class="chat-element" ng-repeat="message in messages">
                        <a href="" class="pull-left">
                            <img alt="image" class="img-circle" ng-src="{{message.getSender().getAvatar(36)}}">
                        </a>
                        <strong class="pull-left">{{message.getSender().getName()}}</strong>
                        <small class="text-navy pull-right">{{message.createTime}}</small>
                        <div class="media-body ">
                            <p class="m-b-xs" ng-if="message.isImg()">
                                <img style="max-width: 100%;" ng-src="{{message.content}}" />
                            </p>
                            <p class="m-b-xs" ng-if="message.isAttach() && !message.isImg()">
                                <a ng-href="{{message.content}}">{{message.content}}</a>
                            </p>
                            <p class="m-b-xs" ng-if="!message.isAttach() && !message.isImg()" ng-bind-html="message.content | nl2br"></p>
                        </div>
                    </div>
                </div>

                <div id="messages-input-container" class="chat-footer">
                    <a id="primary_file_button" class="file_upload_btn fa fa-upload cursor-pointer" style="height: 42px;" ng-click="openFilePicker()">
                        <i class="ts_icon ts_icon_plus_thick"></i>
                    </a>
                    <form id="message-form" style="height: 42px;" method="post" action="http://upload.qiniu.com/" enctype="multipart/form-data">
                        <textarea id="message-input" class="with-emoji-menu" ng-model="message" ng-keypress="enterSubmit($event)"></textarea>
                        <input type="file" id="file-upload" name="files" onchange="angular.element(this).scope().fileNameChanged(this.files)" />
                    </form>
                </div>
            </div>
    </div>
</div>
<div ng-show="{{showRight}}">
<div class="war-navbar-fix-right chat-right-wrapper">
    <div class="ibox-content">
        <tabset class="tabs-right">
            <tab heading="文件" active="activeFileTab" ng-click="chat.tabActive=1">
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="attach in attachs">
                            <div>{{attach.name}}</div>
                            <div class="info">
                                <i class="fa fa-clock-o"></i> <i>{{attach.createTime}}</i>
                                <i class="fa fa-user"></i> <a ng-href="/profile/{{attach.ownerId}}">{{attach.owner.getName()}}</a>
                            </div>
                        </li>
                        <li class="no-file" ng-if="attachs.length == 0">没有文件</li>
                    </ul>
                </div>
            </tab>
            <tab heading="成员" active="activeMemberTab" ng-click="chat.tabActive=2" ng-show="chat.isGroup()">
                <div class="panel-body">
                    <div class="users-list">
                        <div class="chat-user" ng-repeat="member in chat.getMembers()">
                            <img class="chat-avatar" ng-src="{{member.getAvatar(36)}}">
                            <div class="chat-user-name">
                                <a ng-href="#" ng-click="">{{member.getName()}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>
</div>